[dev-packages]
pytest = "*"
v = {editable = true,version = "*"}
pytest-mock = "*"

[requires]
python = "3.8"

[pipenv]
allow_prereleases = true

[packages]
render-engine = {path = "./../render_engine/dist/render_engine-2019.11.12.dev1.tar.gz"}
