<form
       action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
       method="post"
       target="popupwindow"
       onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
       class="custom-form embeddable-buttondown-form"
       >
       <div class="field">
         <div class="control is-exapanded">
           <input type="email"
                  name="email"
                  id="bd-email"
                  class="input is-large"
                  placeholder="Email">
           </input>
         </div>
         </div>
        
        <div class="field"> 
         <div class="control is-expanded-mobile-only">
           <input type="submit" class="button is-info is-large is-inverted" value="Subscribe" />
         </div>
       </div>

       <div class="control">
         <input type="hidden" value="1" name="embed"/>
       </div>

       <p>
       <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
       </p>

</form>
