  <form
    action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
    class="custom-form embeddable-buttondown-form"
    >
    <div class="input-group control">
      <input type="email"
             name="email"
             id="bd-email"
             class="input"
             placeholder="Email">
    </div>

    <div class="control is-right">
      <input type="submit" class="button is-info is-inverted" value="Subscribe" />
      <input type="hidden" value="1" name="embed"/>
    </div>
    <p>
      <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
    </p>

  </form>
