<nav class="navbar" role="navigation" aria-label="main navigation">
    </button>
    <div class="navbar-brand">
    	<a class="" href="/">{{config.SITE_TITLE}}</a>
	</div>
   	<div class="navbar-menu">
   		{% for link in config.HEADER_LINKS %}
            {% if link.links %}
            <a data-toggle="dropdown" href="{{link.href}}" role="button" aria-haspopup="true" aria-expanded="false" >
            	{{link.name}}
             </a>
     </div>
            {% else %}
      	     <a href="{{link.url}}">
                    {{link.name}}
              </a>
            {% endif %}

            {% endfor %}
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
</nav>
