  <nav class="level container is-centered" role="navigation" aria-label="main navigation">
    <div class="level-item navbar-brand">
      <a class="navbar-item" href="/">
          <img class="image" src="https://s3-us-west-2.amazonaws.com/kjaymiller/images/pit-v3-circle-square.png">
      </a>
      <a class="subtitle navbar-item" href="/">
          {{SITE_TITLE}}
      </a>
      <a role="button" class="navbar-burger" data-target="headerMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div class="navbar-menu" id="headerMenu">
        <div class="navbar-start">
          {% for link in HEADER_LINKS %}
          {% if link.links %}
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="{{link.href}}" role="button" aria-haspopup="true" aria-expanded="false" >
              {{link.name}}
            </a>
              {% for l in link.links %}
              {{l.name}}
              {% endfor %}
              {% else %}
              <a class="navbar-item is-text-primary" href="{{link.url}}">
                {{link.name}}
              </a>
              {% endif %}

              {% endfor %}
          </div>
        </div>
      </div>
  </nav>
  <script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
