<!-- Coaching Section of Header --> 
  <div class="container row text-center">
    {% for link in services %}
    <div class="card border-0 col-md-12 col-lg-4 pb-5">
      <div class="text-primary card-header bg-transparent no-border">
        <a href="{{link.url}}"><h3>{{link.name}}</h3>
      </div>
      <div class="card-img-bottom p-3">
        <i class="fas {{link.image}} fa-7x"></i>
      </div>
        </a>
    </div>
    {% endfor %}
  </div>
  <div class="container row text-center">
    {% for link in services %}
    <div class="card border-0 col-md-12 col-lg-4 pb-5">
      <div class="text-primary card-header bg-transparent no-border">
        <a href="{{link.url}}"><h3>{{link.name}}</h3>
      </div>
      <div class="card-img-bottom p-3">
        <i class="fas {{link.image}} fa-7x"></i>
      </div>
        </a>
    </div>
    {% endfor %}
  </div>
  <div class="container row text-center">
    {% for link in services %}
    <div class="card border-0 col-md-12 col-lg-4 pb-5">
      <div class="text-primary card-header bg-transparent no-border">
        <a href="{{link.url}}"><h3>{{link.name}}</h3>
      </div>
      <div class="card-img-bottom p-3">
        <i class="fas {{link.image}} fa-7x"></i>
      </div>
        </a>
    </div>
    {% endfor %}
  </div>
