<!-- Coaching Section of Header -->
<div class="section">
  <h1 class="title is-5 has-text-primary">
    <a href="/coaching">
    Take Control!
    </a>
  </h1>
  <blockquote class="blockquote">
  <em>PIT Coaching Services</em> help teams <strong class="">work more
    effectively</strong> and
  <strong class="">reduce burnout and turnover rates</strong>.
  </blockquote>

  <p class="">
  Whether you work for yourself or for a <strong>startup</strong>, <strong>SMB</strong> or <strong>corporation</strong>,
  <span class="has-text-primary">PIT</span> wants to help you
  take control in your work, career, and life!</p>

  <p>
  PIT offers <a href="/coaching">Productivity Coaching and Speaking
    Services</a> to help:
  </p>
  <div class="card border-0 col-lg-5 my-4">
    <ul class="list-group list-group-flush text-capitalize">
      <li class="list-group-item">
        developers
      </li>
      <li class="list-group-item">
        developer teams
      </li>
      <li class="list-group-item">
        developer management
      </li>
    </ul>
  </div>


  <p class="text-center my-4">
  <a href="/coaching" class="btn btn-outline-primary btn-lg text-capitalize">Learn about coaching</a>
  </p>
</div>
