<!-- Coaching Section of Header -->
  <div class="container my-2 row text-center">
    <h2 class="text-primary">PIT is helping developers take control!</h2>
    <p class="lead">
    Whether you work for yourself or for a <strong>startup</strong>,
    <strong>SMB</strong> or <strong>corporation</strong>, PIT wants to help you
    take control in your work, career, and life!</p>

    <p>
    PIT Productivity Coaching helps developers, developer management, and dev
    teams work more effectively, reduce out and turnover.
    </p>
  </div>
