<!-- Community Section -->
  <div class="container my-4 row lead">
    <h2 class="text-primary">PIT is Helping Developers Connect!</h2>
    <p>
      Developers need to connect with others to stay on top of what's going on
      in their realm.
    </p>
    <p>
      With our PIT community, you will make friends for life.
    </p>

    <h2 class="text-primary">Join our Free Slack Workspace</h2>
      <a href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk">
        <i class="text-img-fluid fab fa-slack fa-5x px-2"" style="color:#1DA1F2;">
        </i>
      </a>
  </div>
