<!-- Community Section -->
<div class="my-4 lead">
  <h1 class="my-3 display-4 text-center">
    <a href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk"
       class="text-dark">PIT is Helping Developers 
       <span class="text-primary">Connect!</span>
    </a>
  </h1>
  <p>
  Developers need to connect with others to stay on top of what's going on
  in their realm.
  </p>
  <p>
  With our PIT community, you will make friends for life.
  </p>

</div>
<div class="text-center">
  <h2 class="btn btn-primary text-primary card-title">Join our Free Slack Workspace</h2>
  <a class="" href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk">
    <i class="text-img-fluid fab fa-slack fa-5x px-2"" style="color:#1DA1F2;"></i>
  </a>
</div>
