<!-- Community Section -->
<section class="section">
  <article class="media">
    <figure class="media-left is-4">
      <a class="" href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk">
        <span class="icon">
          <i class="fab fa-slack fa-5x px-2" style="color:#1DA1F2;"></i>
        </span>
      </a>
    </figure>

    <div class="media-content">
      <div>
        <h1 class="subtitle is-3">
          <a
            href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk"
            class="is-text-primary">
            Connect!
          </a>
        </h1>
        <h2 class="subtitle">
          Developers need to connect with others to stay on top of what's going on.
        </h2>

        <p>
        With our PIT community, you will make friends for life.
        </p>
      </div>

      <div class="">
        <a class="button" href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk">
          <h2 class=>Join our Free Slack Workspace</h2>
        </a>
      </div>
    </div> 
</section>
