<!-- Coaching Section of Header -->
  <div class="section">
    <h1 class="subtitle">
      <a href="/editing" class="text-primary">
        Create!
      </a>
    </h1>
    <div class="hero">
    <p>Showing the world what you know can not only get you hired but also help
    others become stronger developers.</p>
</div>
    <p class="font-weight-bold">Unfortunately, content creation comes with many
  things that can make it feel like a chore, discouraging people to get out and
  make things</p>
    <p>

    <p class="my-4 text-center">
      <a href="/editing" class="button has-background-primary has-text-capitalize">
        Learn About Editing Services
      </a>
    </p>

  </div>
