<!-- Coaching Section of Header -->
  <div class="my-4 mx-1 lead">
    <h1 class="my-4 display-4">
      <a href="/editing" class="text-primary">
        Create!
      </a>
    </h1>
    <p>Showing the world what you know can not only get you hired but also help
    others become stronger developers.</p>

    <p class="font-weight-bold">Unfortunately, content creation comes with many
  things that can make it feel like a chore, discouraging people to get out and
  make things</p>
    <p>

    <p class="my-4 text-center">
      <a href="/editing" class="btn btn-lg btn-outline-primary text-capitalize">
        Learn About Editing Services
      </a>
    </p>

  </div>
