<!-- Coaching Section of Header -->
  <div class="container my-4 lead row">
    <h1 class="my-4 display-3 text-center text-underline">
      <a href="/editing" class="text-dark">PIT is Helping Developers 
        <span class"text-primary">Create!</span>
      </a></h1>
    <p>Showing the world what you know can not only get you hired but also help
    others become stronger developers.</p>

    <p class="font-weight-bold">Unfortunately, content creation comes with many
  things that can make it feel like a chore, discouraging people to get out and
  make things</p>
    <p>
    <a href="/editing">PIT Editing Services</a> helps developers, developer management, and dev
    teams work more effectively, reduce burnout and turnover.
    </p>
  </div>
