<!-- Newsletter Section -->
<div class="jumbotron text-white bg-primary text-center my-3">
  <h3>Get Productivity in Tech Tips and Updates in your Inbox 📬!</h3>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
    class="custom-form embeddable-buttondown-form"
    >

    <div class="input-group">
      <input type="email" name="email" id="bd-email" class="form-control"
                                                     placeholder="Email">
      <input type="submit" class="input-group-append btn btn-outline-light" value="Subscribe" />
      <input type="hidden" value="1" name="embed"/>
    </div>
    <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
    </p>
  </form>

  <div class="text-center">
    <h4 class="py-3">
      <a class="text-white" href="/memberships">
        <i class="img-fluid text-white far fa-star fa-2x px-2"></i>
        Premium Memberships unlock bonus perks!!
        <i class="img-fluid text-white far fa-star fa-2x px-2"></i>
      </a>
      </a>
    </h4>
  </div>
</div>
