<div class="field">
    <label for="podcast-name" class="label">Podcast Name</label>
  <div class="control">
    <input class="input"
    name="name"
    type="input"
    placeholder="What is the name of the podcast?"
    value="{{forms.podcast_name}}">
  </div>
</div>

<div class="field">
  <label for="email" class="label">URL</label>
  <div class="control">
    <input class="input" name="email" type="url" value="{{forms.url}}"
    placeholder="Where is the site for this podcast?">
  </div>
</div>

<div class="field">
  <label for="email" class="label"></label>
  <div class="control">
    <input class="input" name="email" type="url" value="{{forms.url}}"
    placeholder="Where is the site for this podcast?">
  </div>
</div>
