{% extends 'base.html' %}

{% block title %}Coaching Survey{% endblock %}
{% block head %}
<link href="/static/css/index.css" rel="stylesheet"> 
{% endblock %}

{% block add_ons %}
  {% include 'add-ons/vue.jxt' %}
{% endblock %}

{% block content %}
<h1>How Are We Doing?</h1>
<p>We are always trying bring our absolute best to all of our clients!</p>

<p>Please fill out the short form and let us know what you think of your last
Series of sessions with us.</p>
<form>
  <div class="input-group">
    <input type="text" name="" class="" placeholder="">
  </div>
  <div class="input-group">
    <input type="text" name="" class="hide" placeholder="">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>

    
  </div>
  <div class="input-group">
    <button class="btn btn-info">Submit</button>
  </div>

</form>


{% endblock %}
