{% extends 'base.html' %}

{% block title %}Coaching Survey{% endblock %}
{% block head %}
{% include 'addons/vue.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1>How Are We Doing?</h1>
	<h3 class="text-primary">Coaching Session Feedback</h3>
</div>
<div class="container">
	<p class="lead">
	We are always trying bring our absolute best to all of our clients!
	</p>

	<p>Please fill out the short form and let us know what you think of your last
	Series of sessions with us.</p>
	<form data-netlify="true" method="POST" class="border-dark" action='/'>
		<div class="form-row mb-3">
			<div class="col">
				<input type="text"
							 name="name"
							 class="form-control"
							 placeholder="Your Name">
			</div>

			<div class="col">
				<input type="email"
							 name="email"
							 class="form-control"
							 required="required"
							 placeholder="Your Email Address">
			</div>
		</div>


		<div class="mb-4">
			<h3>Let's talk about <span class="text-primary">Your Goal</span></h3>

			<div class="input-group mb-3">
				<label>What was your goal?</label>
			</div>
			<div class="input-group mb-3">
				<textarea rows="3" class="form-control mb-3"></textarea>
			</div>

			<div class="input-group mb-3">
				<label for="#progressMade"> Do you feel we made <span class="font-weight-bold px-1 text-primary mb-3">progress</span> towards this goal?
				</label>
			</div>
			<div class="input-group mb-3">
				<select name="progressOnGoal" id="progressMade" class="form-control col-lg-6">

					<option>Yes</option>
					<option>No</option>
				</select>
			</div>
		</div>

		<h3>What about <span class="text-primary">Our Meetings</span></h3>
		<div class="my-3">
			<div class="input-group col-lg-6 my-3">
				<label for="#intervalCheck">
					Did you feel like the our <span class="text-primary font-weight-bold px-1">
						meeting interval</span> was a good pace?
				</label>
			</div>
			<div class="input-group col-lg-6 mb-3">
				<select name="intervalCheck"
								id="intervalCheck"
								class="col-lg-6 form-control">
					<option class="text-success">Yes - Pace was fine</option>
					<option class="text-danger">Too slow</option>
					<option class="text-danger">Too Fast</option>
				</select>
			</div>

		<div class="my-3">
			<label for="#takeaways">
				Did you feel like you have been given <span class="text-primary font-weight-bold px-1">tools and techniques
				</span> you can use to continue improving and sustain the improvements
				that have been made?
			</label>
			<select name="takeawayCheck" id="takeaways" class="form-control col-lg-6">
				<option class="text-success">Yes</option>
				<option class="text-danger">No</option>
			</select>
		</div>

		<div>
			<h3 class="text-primary">If you had to rate us on a 5-Star Scale!</h3>
		</div>

		<div class="input-group mb-3" id="starRating">
			<div>
			<star-item
				v-for="star in stars"
				v-bind:star="star"
				v-bind:toggle="toggle"
				v-bind:key="star.id"
				v-bind:class="star"
				></star-item>
			</div>

			<div>
				<p v-bind:class="star_message.class">
				{% raw %}
				{{ star_message.text }}
				{% endraw %}
				</p>
			</div>

		</div>

		<div class="input-group">
			<button class="btn btn-primary" onclick="say(thanks)">Submit</button>
		</div>
	</form>

</div>

{% endblock %}

{% block body_javascript %}
<script>
	var thanks = 'Thank you! Your Form has been Submitted!'
function say(message) {
	return alert(message)
}
</script>

<script>
	Vue.component('star-item', {
		props: ['star', 'toggle'],
		template: '<i v-bind:class="star" @click="toggle(star)" @mouseover="toggle(star)"></i>',
	})

var far = true
var fas = false


var app = new Vue({
	el: '#starRating',
	data: function () {
		return {
			starData: 0,
			stars: [{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}].map(function(e) {
				return {
					'id': e.id,
					'far': far,
					'fas': fas,
					'fa-2x': true,
					'fa-star': true,
					'text-warning': true,
					'mx-1': true
				}
			})
		}
	},
	methods: {
		toggle: function (star) {
			this.stars.forEach(function (e) {
				if (e.id <= star.id) {
					e.far = false
					e.fas = true
				}
				else {
					e.far = true
					e.fas = false
				}
			})
		}
	},

	computed: {
		star_message: function () {
			switch (this.starData) {
				case 1:
					return {
						class: 'text-danger',
						text: "This wasn't great at all!"
						break;
					}

				case 2:
				return {
					class: 'text-warning',
					text: 'I got very little out of it'
					break;
				}

				case 3:
				return {
					class: 'text-secondary',
					text: 'I got something out of it, but I was hoping for more'
					break;
				}

				case 4:
				return {
					class:"text-info",
					text: 'The coaching was helpful. I definitely got something out of it'
					break;
				}

				case 5:
				return {
					class:"text-success",
					text: 'OMG! This was amazing! I can\'t wait to do future sessions and learn more!'
					break;
				}

				default :
				return {
					class:"text-light",
					text: 'Give us your overall star Rating'
				}
				}
		}
	}
})
</script>
{% endblock %}
