{% extends 'base.html' %}

{% block title %}Coaching Survey{% endblock %}
{% block head %}
  {% include 'addons/vue.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>How Are We Doing?</h1>
    <h2>Coaching Session Feedback</h2>
  </div>
<p class="lead">We are always trying bring our absolute best to all of our clients!</p>

  <p>Please fill out the short form and let us know what you think of your last
  Series of sessions with us.</p>
  <form data-netlify="true" method="POST" action='/'>
    <div class="form-row mb-3">
      <div class="col">
      <input type="text" name="name" class="form-control" placeholder="Your Name">
      </div>
      <div class="col">
      <input type="email"
      name="email"
      class="form-control"
      required="required"
      placeholder="Your Email Address">
      </div>
    </div>

    <div class="input-group mb-3">
      <h3>What was our goal?</h3>
    </div>
    <div class="input-group mb-3">
      <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="input-group mb-3">
      <label for="#progressMade" class="input-group-prepend">
        Do you feel we made <strong>progress</strong> towards this goal?
      </label>
    </div>
      <div class="input-group mb-3">
      <select name="progressOnGoal" id="progressMade" class="form-control">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="input-group col-8 col-lg-4 mb-3">
      <label for="#intervalCheck">
        Did you feel like the our meeting interval was a good pace?
      </label>
      <select name="intervalCheck" id="intervalCheck" class="form-control">
        <option class="text-success">Yes</option>
        <option class="text-danger">No</option>
      </select>

    </div>
    <div class="input-group mb-3" id="starRating">
      <h3>Stars</h3>
      <star-item
           v-for="star in stars"
           v-bind:star="star"
           v-bind:toggle="toggle"
           v-bind:key="star.id"
           v-bind:class="star"
           ></star-item>
    </div>

    <div class="input-group">
      <button class="btn btn-primary" onclick="say(thanks)">Submit</button>
    </div>

  </form>

</div>

{% endblock %}

{% block body_javascript %}
<script>
  var thanks = 'Thank you! Your Form has been Submitted!'
function say(message) {
  return alert(message)
  }
</script>

<script>
  Vue.component('star-item', {
    props: ['star', 'toggle'],
    template: '<i v-bind:class="star" @click="toggle(star)" @mouseover="toggle(star)"></i>',
    })

  var far = true
  var fas = false


  var app = new Vue({
    el: '#starRating',
    data: function () {
    return {
      stars: [{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}].map(function(e) {
        return {
          'id': e.id,
          'far': far,
          'fas': fas,
          'fa-2x': true,
          'fa-star': true,
          'text-warning': true,
          'mx-3': true
           }
          })
        }
      },
      methods: {
        toggle: function (star) {
        this.stars.forEach(function (e) {
            if (e.id <= star.id) {
              e.far = false
              e.fas = true
              }
            else {
              e.far = true
              e.fas = false
              }
            })
         }
        }
    })
</script>
{% endblock %}
