{% extends 'base.html' %}
{% block container %}
<div class="level">
			<h2 class="level-item title is-1 has-text-info">Blog</h2>
        {% if post_list %}
        <h2 class="subtitle level-item is-5">There are {{post_list|length}} Posts</h2>
</div>
    <div class="tile is-ancestor">
        {% for index, post in post_list %}
				{% if index % 3 == 0 %}
				</div>
				<div class='tile is-ancestor'>
			{% endif %}
			<div class="tile is-parent">
	<article class="tile is-child box">
			<a href="{{post.url}}"><h2 class="subtitle is-4 has-text-info has-text-weight-semibold">{{post.title}}</h2></a>

		<small class="has-text-light-gray">{{post.date_published}}</small>
		<div>
        	{{post.summary}}
		</div>
	</article>
			</div>
        {% endfor %}
        {% else %}
        <h2 class="subtitle is-3">Sorry, No Posts Have Been Loaded Yet</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
