<html lang="en">
  <head>
    {% include 'addons/meta.html' %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/94d9a219ee.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <style>
  {% block style %}
  {% endblock %}
  </style>
  <body>
    {% block add_ons %}{% endblock %}
    {% include 'header.html' %}

    <div style="margin-top: 5rem;">
    {% block content %} {% endblock %}
    </div>

    {% include 'addons/bootstrap_js.html' %}
    {% include 'footer.html' %}
    {% block body_javascript %}{% endblock %}
  </body>
</html>
