<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include 'addons/bulma.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <style>
  {% block style %}
  {% endblock %}
  </style>
  <body>
    {% block add_ons %}{% endblock %}
    {% include 'header.html' %}

    <div style="margin-top: 5rem;">
    {% block content %} {% endblock %}
    <div class="container">
    {% block container%} {% endblock %}
    </div>
    </div>

    {% include 'footer.html' %}
    {% block body_javascript %}{% endblock %}
    {% block analytics %}{% endblock %}
  </body>
</html>
