<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include 'addons/bulma.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <style>
  {% block style %}
  {% endblock %}
  </style>
  <body>
    <section>
    {% block add_ons %}{% endblock %}


    {% include 'header.html' %}

    <section>
    {% include 'addons/promo.html' %}
    </section>

    {% block content %} {% endblock %}
    <div class="container">
      {% block container %} {% endblock %}
    </div>

    <section class="section">
    {% block content_2 %} {% endblock %}
    <div class="container">
      {% block container_2 %} {% endblock %}
    </div>
    </section>
    
    {% include 'footer.html' %}
    {% block body_javascript %}{% endblock %}
    {% block analytics %}{% endblock %}
    </section>
  </body>
</html>
