{% extends 'base.html' %}

{% block container%}
<h1 class="title is-3 is-titlecase">We would love to work with you!</h1>
<div>
  <p>It's so awesome that you are interested in working with us! Please fill
  out the short form below.</p>
  <div class="form box is-6">
    <form name="consultation-form" method="Post" class="" netlify-honeypot="bot-field" data-netlify="true" >
    <div class="field">
      <div class="control">
        <input class="input" name="name" placeholder="Name" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" name="email" placeholder="Email" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea class="textarea" name="description" placeholder="Tell us what you're working on! Also let us know how we can help you!"></textarea>
      </div>
    </div>
    <div class="field is-hidden">
      <div class="control"
        <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button">Submit</button>
      </div>
    </div>
    </form>
  </div>

</div>
<footer>
  <small>
    Your information will be added to our CRM so we can get in touch with you,
    but not to any mailing list. If you want to join that, <a href="/newsletter">sign up here</small></footer>
</div>
{% endblock %}
