{% extends 'base.html' %}
{% block title %}Developer Podcaster Course{% endblock %}

{% block container %}
<h1 class="text-primary mb-4 display-4">Make the Next Developer Podcast!</h1>
<div class="lead jumbotron p-4">
  <p>
    A podcast is a way to share the skills that you have developed over your career with others.
  </p>

  <p>
    It's also a way to connect with other developers and learn new things to improve your skill set.
  </p>
</div>

<div class="text-center lead p-3">
  <h1>Keep your podcast from Pod<span
                                  style="color: #222222">fad</span><span
                                  style="color: #555555">i</span><span
                                  style="color: #bbbbbb">n</span><span
                                  style="color: #dddddd">g...</span>
  </h1>
  <div class="border-top border-dark p-3">
    <p>As of 2018 Apple has added 660,000 podcasts to its podcast directory with close to 28 million episodes published.</p>

    <p>That may seem like a lot of competition, but the average show makes less than 50 episodes in it&#8217;s lifetime. While some podcasts last for years, a large number make it less than 15 episodes.</p>

    <img class="img-fluid"
         src="https://s3-us-west-2.amazonaws.com/kjaymiller/images/stock-images/chair-desk-dress-1181658.jpg">

  </div>

  <h1 >Introducing the Podcasting for Developers Toolkit</h1>

  <div class="border-top border-dark p-3">
    <p>
    In this collection of interviews, host Jay Miller, with the help of other Developer-Podcasters, teach you &nbsp;some of the things they have done to make their podcasts a roaring success!
    </p>
  </div>

  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2>Everything you need to get started</h2>
      <p>
      <strong >This course covers many areas of podcasting including:</strong>
      </p>

      <ul class="list-group-flushed">
        <li class="list-group-item">Recording and Equipment</li>
        <li class="list-group-item">Editing</li>
        <li class="list-group-item">Scheduling&nbsp;Guests</li>
        <li class="list-group-item">Promotion</li>
        <li class="list-group-item">Shownotes</li>
        <li class="list-group-item">Hosting</li>
        <li class="list-group-item">Season Releases</li>
      </ul>

    </div>

    <div class="col-lg-6 my-4">
      <img class="img-fluid" src="https://eep.io/mc-gallery/a436c79abb5676a004d16e684/images/00125c56-ac27-43b8-b59d-4b6cc827a955.jpeg"  >
    </div>
  </div>
  <div class="my-3">
    <h2 >This Course is Under Construction!</h2>
    <p>We will be sending out a notification to our newsletter subscribers with
    updates on the status of this course.</p>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

    </div>

  </div>
    {% endblock %}
