{% extends 'base.html' %}
{% block title %}Developer Podcaster Course{% endblock %}

{% block container %}
<div class="row">
  <div>
  <h1 class="text-primary mb-4 display-4">Make the Next Developer Podcast!</h1>
  </div>
<div class="jumbotron bg-dark text-light p-4">
  <h3 class="text-capitalize">
    share your knowledge
  </h3>

  <h3 class="text-capitalize">
    connect with other developers 
  </h3>
  <h3 class="text-capitalize">
    improve your skill set.
  </h3>
</div>
</div>

<div class="text-center p-3">
  <h1>Keep your podcast from Pod<span
                                  style="color: #222222">fad</span><span
                                  style="color: #555555">i</span><span
                                  style="color: #888888">n</span><span
                                  style="color: #bbbbbb">g...</span>
  </h1>

  <div class="col-xl-8 mx-auto text-center border-top border-dark p-3">
    <p>As of 2018 Apple has added 660,000 podcasts to its podcast directory with close to 28 million episodes published.</p>

    <p>That may seem like a lot of competition, but the average show makes less than 50 episodes in it&#8217;s lifetime. While some podcasts last for years, a large number make it less than 15 episodes.</p>

    <div class="col-md-8 my-3 mx-auto">
      <img class="img-fluid rounded"
         src="https://s3-us-west-2.amazonaws.com/kjaymiller/images/stock-images/chair-desk-dress-1181658.jpg">
    </div>
  </div>

  <h1 >Introducing the Podcasting for Developers Toolkit</h1>
  <div class="border-top border-dark p-3">
    <p class="col-lg-8 mx-auto">
    In this collection of interviews, host Jay Miller, with the help of other Developer-Podcasters, teach you &nbsp;some of the things they have done to make their podcasts a roaring success!
    </p>
  </div>

  <div class="align-items-center">
    <div class="col-lg-6">
      <h2>Everything you need to get started</h2>
      <p>
      <strong >This course covers many areas of podcasting including:</strong>
      </p>

  </div>
  <div class="row border-0 my-4">
      <ul class="list-group-flushed">
        <li class="list-group-item">Recording and Equipment</li>
        <li class="list-group-item">Editing</li>
        <li class="list-group-item">Scheduling&nbsp;Guests</li>
        <li class="list-group-item">Promotion</li>
        <li class="list-group-item">Shownotes</li>
        <li class="list-group-item">Hosting</li>
        <li class="list-group-item">Season Releases</li>
      </ul>


    <div class="col-lg-6 my-4">
      <img class="img-fluid" src="https://eep.io/mc-gallery/a436c79abb5676a004d16e684/images/00125c56-ac27-43b8-b59d-4b6cc827a955.jpeg"  >
    </div>
  </div>
  <div class="my-3">
    <h2 >This Course is Under Construction!</h2>

    <p>We will be sending out a notification to our newsletter subscribers with
    updates on the status of this course.</p>

    {% include 'addons/buttondown_form.html' %}
    </div>

  </div>
    {% endblock %}
