<footer class="footer">
      <div class="column has-text-centered is-narrow-tablet">
        <a href="mailto:info@productivityintech.com">
          <i class="far fa-envelope"></i>
        </a>
      </div>
    </div>

  <div class="columns is-centered">
    <div class="column has-text-centered is-narrow-tablet"><a href="/">Home</a></div>
    <div class="column has-text-centered is-narrow-tablet"><a href="/editing">Editing</a></div>
  </div>

  <p class="has-text-centered">
    Productivity in Tech © 2020
  </p>
  <p class="has-text-centered">
  Built with <a href="pypi.org/project/render-engine">Render Engine</a> and <a
                href="https://bulma.io">Bulma.io</a>
  </p>
</footer>
