<footer class="footer has-text-centered">
 <div class="columns is-one-third">
<div class="column">
      <a href="https://twitter.com/kjaymiller">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>
    <div class="column">
    <a href="mailto:info@productivityintech.com">
      <i class="far fa-envelope fa-2x"></i>
    </a>
    </div>
  </div>
   <div class="columns is-two-thirds">
  <ul class="list-inline">
    <li class="flex-fill list-inline-item"><a href="/">Home</a></li>
    <li class="flex-fill list-inline-item"><a href="/editing">Editing</a></li>
    <li class="flex-fill list-inline-item"><a href="/coaching">Coaching</a></li>
    <li class="flex-fill list-inline-item"><a href="/about">Our Team</a></li>
    <li class="flex-fill list-inline-item"><a href="/pages/privacy-policy">Privacy Policy</a></li>
  </ul>

  <p class="text-primary">
  Productivity in Tech © 2018
  </p>

  <p>
  Maintained by <a href="https://kjaymiller.com">kjaymiller</a>
  </p>
</footer>
