<footer class="jumbotron mt-5 text-center">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="/">Home</a></li>
    <li class="list-group-item"><a href="editing">Editing</a></li>
    <li class="list-group-item"><a href="coaching">Coaching</a></li>
    <li class="list-group-item"><a href="team">Our Team</a></li>
    <li class="list-group-item"><a href="/pages/privacy-policy">Privacy Policy</a></li>
  </ul>

   <p class="text-primary">
     Productivity in Tech © 2018
   </p>
   <p>
     Maintained by <a href="https://kjaymiller.com">kjaymiller</a>
   </p>
   <p>
   </p>
</footer>
