{% extends 'base.html' %}

{% block title %}Productivity in Tech{% endblock %}

{% block content %}
<!--Start Jumbotron  -->
<div class="container" >
    <div class="jumbotron row wrap bg-transparent"> 
        <div class="col-sm-12 col-lg-7"> <img class="w-100" src="https://s3-us-west-2.amazonaws.com/kjaymiller/images/pit-v3.jpg"></div>
        <div class="text-sm-center text-md-center align-self-center col-xs-5 col-sm-12 col-lg-5" >
            <h2 class=" text-primary display-3">Live, Code, Work, Be</h2>
            <h1 class="">More Productive</h1>
        </div>
    </div>
    <div class="container text-center">
        <h1 class="p-3 text-secondary display-3">Coming Soon</h1>
        <p>We're Working on getting everything ready for you. Get a notification when things go <span class=text-primary>LIVE!i</span></p>
        <div class="jumbotron text-center card-deck bg-transparent">
            <div class="card border-0">
                <div class="text-primary card-header bg-transparent no-border"><h3>Blog</h3></div>
                <div class="card-img-bottom p-3"><i class="text-secondary fas fa-file-code fa-10x"></i></i></div>

            </div>
                <div class="card border-0 bg-transparent">    
                    <div class="card-header text-primary bg-transparent"><h3>Podcast</h3></div>
                    <div class="card-img-bottom"><i class="text-secondary fas fa-microphone-alt fa-10x"></i></div>
                </div>
            <div class="card bg-transparent border-0">
                <div class="card-header bg-transparent text-primary"><h3>Youtube</h3></div>
                <div class="card-img-bottom"><i class="text-secondary fab fa-youtube fa-10x"></i></div>
            </div>
        </div>
    </div>

<div class="card-deck">
    <div class="card text-center">
      <div class="card-header">
            <h4 class="card-title">Coaching</h4>
     </div >
        <div class="card-body">
            <p class="card-text">Simple Effective Coaching with a Simple Effective Model</p>
        </div>
        <div class="card-body">
      <ul class="list-group">
       <li class="list-group-item">
           <a class="card-link" href="#">Individual Coaching</a>
       </li>
       <li class="list-group-item">
           <a class="nav-link" href="#">Group Workshops</a>
       </li>
       <li class="list-group-item">
           <a class="nav-link" href="#">Team Sessions</a>
       </li>
      </ul>  
    </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
            <h4 class="card-title">Community</h4>
     </div >
        <div class="card-body">
            <p class="card-text">Working together is just more fun!</p>
        </div>
        <div class="card-body">
      <ul class="list-inline">
       <li class="list-inline-item">
           <a class="card-link" href="#">Slack</a>
       </li>
       <li class="list-inline-item">
           <a class="nav-link" href="#">Social</a>
       </li>
      </ul>  
    </div>
    </div>
</div>
</div>
</div>
{% endblock %}
