{% extends 'base.html' %}

{% block title %}Productivity in Tech{% endblock %}

{% block content %}
<!--Start Jumbotron  -->
<div class="container">
    <div class="jumbotron row wrap bg-transparent border-bottom">
        <div class="col-sm-12 col-lg-7"> <img class="w-100" src="https://s3-us-west-2.amazonaws.com/kjaymiller/images/pit-v3.jpg"></div>
        <div class="px-5 text-sm-center align-self-center col-sm-12 col-lg-5">
            <h2 class="text-primary display-3">Live, Code, Work, Be</h2>
            <h1 class="text-muted">More Productive</h1>
        </div>
    </div>
    <div class="container row text-center">
        {% for link in services %}
        <div class="card border-0 col-md-12 col-lg-4 pb-5">
            <div class="text-primary card-header bg-transparent no-border">
                <a href="{{link.url}}"><h3>{{link.name}}</h3>
            </div>
            <div class="card-img-bottom p-3">
                <i class="fas fa-file-alt fa-10x"></i>
            </div></a>
            {% endfor %}
        </div>
            <div class="w-100 text-right p-5">

                <script>
                    var ml_webform_1132258 = ml_account('webforms', '1132258', 't9z1e3', 'load');
ml_webform_1132258('animation', 'slideboxRight');
                </script>
                <a href="javascript:;" class="btn btn-lg btn-outline-primary" onclick="ml_webform_1132258('show')">...Get Notified About New Things!</a>
            </div>
            <div class="card-deck d-flex justify-content-between">
                <div class="card text-center">
                    <div class="card-header text-white bg-primary">
                        <h2>Coaching</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Simple Effective Coaching with a Simple Effective Model</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-primary border-bottom">Click to Learn More About</h3>
                        <button class="btn btn-lg btn-block btn-outline-primary border-0" href="#">Individual Coaching</button>
                        <button class="btn btn-lg btn-block btn-outline-primary border-0" href="#">Group Workshops</button>
                        <button class="btn btn-lg btn-block btn-outline-primary border-0" href="#">Team Sessions</button>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title">Community</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Because working together is just more fun!</p>
                    </div>
                    <div class="card-body justify-content-center">
                        <a href="https://join.slack.com/t/productivedevs/shared_invite/enQtNDcxNDE5NjAzMjM1LTQ1ZWVjNThhNDE4OTY5YmQ1NzQ0ZWM4NDg2MDIyODZhZjg2Yzk4YzMyNmQzMTI2MTRhYTBlMDI4YzkxZTQwYTk"><i class="img-fluid fab fa-slack fa-10x px-2"" style="color:#1DA1F2;"></i></a>
                        <a href="https://twitter.com/prod_in_tech"><i class="img-fluid fab fa-twitter fa-10x px-2" style="color:#1DA1F2;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
