{% extends 'base.html' %}
{% block title %}{{metadata.title}}{% endblock %}
{% block content %} 
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4 text-primary">{{metadata.title}}</h1>
	</div>
	<div class="py-2">
		{{metadata.markup}} 
	</div>
  <div class="my-2">
  </div>
</div>
</div>
{% endblock %}

<form name="{{form.name}}" class="col-md-10 col-lg-6" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
	<label>I'm Interested in: <select name="editing_type[]" multiple>
	      <option value="Podcast">Podcast Editing</option>
      <option value="Video Editing">Video Editing</option>
    </select></label>
  </p>
  <p>
<button type="submit" class="btn btn-primary mt-3">I'd Like a Consultation</button> 
  </p>
</form>
